/*General */

/*.social-title {text-transform: uppercase;letter-spacing: 1px; }*/
/*.count { font-size: 37px;margin-top: 10px;margin-bottom: 10px; }*/
/*.fa { font-size: 100px;text-align: right;position: absolute;top: 7px;right: 27px;outline: none; }*/
/*!*.social .panel { color:#fff;text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }*!*/
/*.social a { text-decoration:none; }*/
/*!*.twitter { background-color:#00acee; }*!*/
/*!*.google-plus { background-color:#dd4b39; }*!*/
/*.facebook-like { background-color:#3b5998; }*/
/*!*.visitor { background-color:#eb6d20; }*!*/

/* Personal Profile Area css
============================================================================================ */

/*.profile_area .col-lg-7 {*/
    /*vertical-align: middle;*/
    /*align-self: right;*/
    /*background-color: #1abc9c ;*/
/*}*/

/*.profile_inner {*/
    /*border-bottom: 1px solid #eeeeee; }*/

/*.profile_inner .personal_text {*/
    /*padding-right: 95px; }*/

/*.personal_text h5 {*/
    /*padding-top:60px;*/
    /*font-size: 14px;*/
    /*font-family: "Roboto", sans-serif;*/
    /*text-transform: uppercase;*/
    /*font-weight: normal;*/
    /*margin-bottom: 12px;*/
    /*color: #222222;*/
    /*text-align: -webkit-right*/
/*}*/

/*.personal_text h4 {*/
    /*font-size: 16px;*/
    /*font-weight: 500;*/
    /*font-family: "Roboto", sans-serif;*/
    /*text-transform: uppercase;*/
    /*margin-bottom: 20px;*/
    /*color: #222222;*/
    /*text-align: -webkit-right*/
/*}*/

/*.personal_text h3 {*/
    /*font-size: 48px;*/
    /*text-transform: uppercase;*/
    /*margin-bottom: 15px;*/
    /*color: #222222;*/
    /*text-align: -webkit-right*/
/*}*/

/*.personal_text p {*/
    /*font-family: "Roboto", sans-serif;*/
    /*max-width: 540px;*/
    /*color: #777777;*/
    /*margin-bottom: 40px;*/
    /*text-align: -webkit-right*/
/*}*/

/*.personal_text .basic_info li {*/
    /*margin-bottom: 15px; }*/

/*.personal_text .basic_info li a {*/
    /*position: relative;*/
    /*padding-left: 40px;*/
    /*font-size: 16px;*/
    /*color: #777777; }*/

/*.personal_text .basic_info li a i {*/
    /*position: absolute;*/
    /*left: 0px;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    /*font-size: 20px;*/
    /*color: #766dff; }*/

/*.personal_text .basic_info li:last-child {*/
    /*margin-bottom: 0px; }*/

/*.personal_text .personal_social {*/
    /*margin-top: 45px; }*/

/*.personal_text .personal_social li {*/
    /*display: inline-block;*/
    /*margin-right: 7px; }*/

/*.personal_text .personal_social li:last-child {*/
    /*margin-right: 0px; }*/

/*.personal_text .personal_social li a {*/
    /*line-height: 40px;*/
    /*width: 40px;*/
    /*background: #e8e8e8;*/
    /*border-radius: 5px;*/
    /*display: inline-block;*/
    /*text-align: center;*/
    /*color: #fff;*/
    /*font-size: 16px; }*/

/*.personal_text .personal_social li:hover a {*/
    /*background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);*/
    /*background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);*/
    /*background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%); }*/

/*img {*/
    /*vertical-align: middle;*/
    /*border-style: none*/
/*}*/

/* End Personal Profile Area css
============================================================================================ */


body{
    font-family: 'Rubik', sans-serif;
  /* font-family: 'Lato', sans-serif;*/
    direction: rtl;
}
h1,h2,h3,h4,h5
{
    font-weight: bold;
}

/*img*/
/*{*/
    /*width: 500px;*/
    /*height: 500px;*/
/*}*/

#about{
    padding-top: 100px;
   /* background: #3F729B;*/
    background: #117964;
}


ul,ol
{
    list-style:none;
}
.red-divider{
    width: 100px;
    height: 2px;
    background: #d82c2e;
    margin: 0 auto;
}
.white-divider{
    width: 100px;
    height: 2px;
    background: #ffffff;
    margin: 0 auto;
}
section {
    padding: 30px 0 80px 0;
}
section .heading
{
text-align: center;
    padding-bottom: 20px;
}

a.navbar-brand
{
    background: #ffffff;
}

/*Menu #d82c2e*/
.navbar
{
    background: #343a40;
    font-size: 18px;
    letter-spacing: 4px;
    font-weight: bold;
    padding-top: 25px;
    border: 1px solid white;
    border-left: 0px solid;
    border-right: 0px solid;
    border-top: 0px solid;
    border-radius: 3px ;
}
.navbar .nav
{
    /*display:inline-block;*/
    float:none;
    vertical-align: top;
}
.navbar .navbar-collapse
{

    text-align: center;

}

.navbar li a
{
    color: #ffffff !important;
}

.nav-pills > li > a.active {
    background-color: #ffffff !important;
    color: #d82c2e !important;
}

.nav-link-color {
    color: #ffffff;
}

/*.navbar-nav li.active a*/
/*{*/
    /*color: #d82c2e !important;*/
    /*background-color: #ffffff !important;*/

/*}*/

.navbar-default .navbar-toggle
{
    border-style: none;
}
#navbar-toggler-icon
{
    background-color: #dde014 ;
    size: 100px;
    color: #dde014 ;
}

/**------------------------------------------------------------------------------------------------------/




/*ABOUT*/
#about
{
    padding-top: 100px;
    background-color: #1abc9c ;
}


#about img
{
    width: 350px;
    height: 350px;
}

/*.profile-picture{*/
    /*text-align: center;*/
    /*margin: 0 auto;*/
    /*float: none;*/
/*}*/
#about .heading h1
{
    color: #000000  ;
    text-transform: uppercase;
}

#about .heading h3
{
    color: #000000;

}

#about .heading li a
{
    font-size: 18px;
}



.about-block
{
    width: 74%;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    background: #dddddd;
    border-radius: 10px;
    border: 2px solid #cccccc;
    margin-bottom: 20px;

}

#heading p {
    /*
font-family: "Roboto", sans-serif;*/
    font-family: 'Rubik', sans-serif;
    max-width: 540px;
    color: #BF246C;
    margin-bottom: 40px;
    text-align: -webkit-center;
    text-align: center;
}


.button1
{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    display: inline-block;
    margin-top:  20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
}
.button1:hover
{
    background: white;
    color: #d82c2e;
    text-decoration: none;
}

.heading .personal_social {
margin-top: 45px; }

.heading .personal_social li {
display: inline-block;
margin-right: 7px; }


.heading .personal_social li:last-child {
margin-right: 0px; }


.heading .personal_social li a {
line-height: 40px;
width: 40px;
background: #e8e8e8;
border-radius: 5px;
display: inline-block;
text-align: center;
color: #fff;
font-size: 16px; }


.heading .personal_social li:hover a {
background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%); }


/**----------------------------------------------------------------------------------------------------------/

/*SKills */
#skills{
    background: white;

}

#skills .heading h2
{
    color: #d82c2e;
    text-transform: uppercase;
    padding-top: 20px;
}
#skills .progress
{
    height: 50px;
    margin: 30px 20px;
    backface-visility: #ddd;
    text-shadow: 1px 1px 1px  #000;
}

#skills .dynamic_1 h3
{
 text-decoration-color: #FFFFFF;
}


/*#skills .progress-bar*/
/*{*/
    /*background: #d82c2e;*/
/*}*/

/* PROFESSIONAL EXPERIENCE #d82c2e*/
#experience
{
   /* background: #3F729B;*/
    background-color: #1abc9c ;
}
#experience .heading h2
{
    color: #ffffff;
    padding-top: 30px;
}
.timeline
{
    padding: 30px 10px;
    position: relative;
}

.timeline:before
{
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background-color:#333333;
    left:50%;
    margin-left: -2.5px;
}
.timeline > li
{
    position: relative;
    margin-bottom: 20px;
}
.timeline > li:after
{
        clear:both;
}
.timeline >li:before, .timeline >li:after
{
    content: '';
    display: table;
}
.timeline li .timeline-badge
{
    color: #d82c2e;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position:absolute;
    top:16px;
    left:50%;
    margin-left: -25px;
    background-color:#dddddd ;
    border-radius: 50%;
}
.timeline-panel-container
{
    width: 50%;
    float: left;
    text-align: right;
}
.timeline-panel-container-inverted
{
    width: 50%;
    float: right;
    text-align: right;
}
.timeline-panel
{
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgb(0,0,0.175);
    background: #ffffff;
}
.timeline-panel-container-inverted .timeline-panel
{
    float:left;
    margin-left: 40px;
}
.timeline-panel:after
{
    position: absolute;
    top: 27px;
    right: -14px;
    display:inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 14px solid transparent;
    content: '';
}

.timeline-body li .fa-check-square {
    right: 5px;
}

.timeline-panel-container-inverted .timeline-panel:after
{
    border-left-width: 0;
    border-right-width: 14px;
    left:-14px;
    right:auto;
}
.timeline-heading h3
{
    margin-top: 5px;
    font-size: 20px;
    direction: rtl;

}
.timeline-heading h4
{   color: #d82c2e;
    margin-top: 5px;
    font-size: 20px;
    direction: rtl;
}

/***********------------------------------------------------------------------------------------------------------/

/*EDUCATION*/
#education
{
    background: #ffffff
}
#education .heading h2
{
    color: #d82c2e;
}
.education-block
{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    background: #dddddd;
    border-radius: 10px;
    border: 2px solid #cccccc;
    margin-bottom: 20px;

}
.education-block h5
{
    color: #888888;
    font-size: 15px;
    margin-bottom: 15px;
}
.education-block h3
{
    color: #d82c2e;
}
.education-block h4
{
    margin-bottom: 20px;
}
.education-block  p
{
   font-weight: bold;
}
.education-block .red-divider
{
    margin-bottom: 20px;
}



/*******************************-------------------------------------------------------------------------------------------
/*PORTFOLIO*/

#portfolio
{
    /*background: #3F729B;*/
    background-color: #1abc9c ;
}
#portfolio .heading h2
{
    color: #ffffff;
    padding-top: 18px;
}

/*#portfolio .thumbnail img*/
/*{*/
    /*width: 100%;*/
    /*height: 90%;*/
    /*filter:grayscale(100%);*/
    /*-webkit-filter: grayscale(100%);*/
/*}*/


#portfolio .thumbnail img:hover
{
    filter: none;
    -webkit-filter: none;
}
#portfolio .figure-caption
{
    color: #FFFFFF;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 70%;
    left: 10%;
    top: 10%;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    -ms-transform: scale(0,1);
    transform: scale(0,1);
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    background-color: transparent;
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
}

.hovereffect a, .hovereffect p {
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
/*--------------------------------------------------------------------------------------------------------------------------------------




/* CAROUSSEL  */
#recommendation
{
    background: #ffffff;
}
#recommendation .heading h2
{
    color: #d82c2e;
    padding-top: 10px;
}


.carousel-indicators li
{
    border-color: #d82c2e;
    color:#d82c2e;
}

.carousel-caption {
    width:200px;
    z-index:10;
    color:#fff;
    text-align:center;
    top:50%;
    left:70%;
    bottom:auto;
    -webkit-transform:translate(0, -50%);
    -ms-transform:translate(0, -50%);
    transform:translate(0, -50%);
}


.carousel-caption h2{
    background-color: #d82c2e;
    color:  lime;

}

.carousel-caption h3{
    background-color: #d82c2e;
    color:  lime;

}
.carousel-indicators li.active
{
    background-color: #d82c2e;
}


.carousel-control-prev .color-next{
    background-color: #d82c2e;
}





/***-----------------------------------------------------------------------------------------------------------/
/**Foooter */
footer
{
 background:#333333;
    padding: 20px 0 40px ;

}
footer .fas fa-chevron-up
{
    font-size: 25px;
    margin:20px;
    color:#d82c2e;
    height:30px;
}
footer .fas fa-chevron-up:hover
{
    font-size: 40px;
}
footer h5
{
    color: #ffffff;
    font-weight: normal;
}




/**********************************-------------------------------------------------------------------------------------------/
/* CONTACT */
#contact
{
    /*background: #3F729B;*/
    background-color: #1abc9c ;
}

#contact .heading h2
{   padding-top: 22px;
    color: #FFFFFF;
}

#contact-form
{
    font-size: 20px;
    /*background: #fff;*/
    /*padding: 40px;*/
     padding-right: 150px;
    /*border-radius: 10px;*/
    color: #FFFFFF;
}
/*---  NEW  ------*/
.red
{
    color: #d82c2e;
}
.form-control
{
    height: 50px;
    font-size: 18px;
}


#contact-form input[type=submit]
{
    margin: 40px auto 0px;
    display: block;
}

.comments
{
    font-style: italic;
    font-size: 18px;
    color: #d82c2e;
    height: 25px
}


#contact-form .thank-you
{
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
}
.button2
{   background: transparent;
    font-weight: bold;
    color: white;
    border: 1px solid white ;
    display: inline-block;
    margin-top: 60px;
    padding: 18px  50px;
    border-radius: 6px;
    transition: all 0.9s ease-in 0s;

}



.button2:hover
{
    background: white;
    color: #d82c2e;
    text-decoration: none;
}
.button2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -200px;
    transition: 0.1s;
}

.button2:hover span:after {
    opacity: 1;
    right: 0;
}
